tqdm==4.41.1
dask==2.9.2
psutil==5.6.7
pathlib==1.0.1
numpy==1.17.4
opencv-python==4.1.2.30
Pillow==6.2.1
scikit-image==0.15.0
scikit-learn==0.22.1
toposort==1.5
fastcluster==1.1.26
matplotlib==3.0.3
imageio==2.6.1
imageio-ffmpeg==0.3.0
ffmpy==0.2.2
# Revert back to nvidia-ml-py3 when windows/system32 patch is implemented
nvidia-ml-py3==7.352.1
#git+https://github.com/deepfakes/nvidia-ml-py3.git
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
pywin32 ; sys_platform == "win32"
pynvx==1.0.0 ; sys_platform == "darwin"

# tensorflow is included within the docker image.
# If you are looking for dependencies for a manual install,

# NB: Tensorflow version 1.12 is the minimum supported version of Tensorflow.
#    If your graphics card support is below Cuda 9.0 you will need to either
#    compile tensorflow yourself or download a custom version.
#    Install 1.12.0<=tensorflow-gpu<=1.13.0 for CUDA 9.0
#    or 1.13.1<=tensorflow-gpu<1.15 for CUDA 10.0
